:root {
    --primary-color: #FFFFFF;
    --navy-blue-color: #2E2F42;
    --accent-color: #404bbf;
    --primary-gap: 24px;
    --container-margin: 141px;
    --transition-time: 250ms;
    --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;

    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* header */

.header {
    border-bottom: 1px solid #E7E9FC;

    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    padding: 0 15px 0 15px;
}

/* logo */

.logo {
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;

    color: #4D5AE5;
}


.header-logo {
    margin-right: 76px;
}

.logo-span {
    color: var(--navy-blue-color);
}

/* navigation */

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    display: block;

    padding-top: var(--primary-gap);
    padding-bottom: var(--primary-gap);

    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: 1.5;

    transition: color var(--transition-time) var(--cubic-bezier);

    color: var(--navy-blue-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
}

.nav-link-active {
    position: relative;

    color: var(--accent-color);
}

.nav-link-active::after {
    content: "";

    position: absolute;
    bottom: -1px;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;

    border-radius: 2px;
    background-color: var(--accent-color);
}

/* address */

.address {
    font-style: normal;
}

.header-address-list {
    display: flex;

    gap: 40px;
}

.address-link {
    display: block;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;

    transition: color var(--transition-time) var(--cubic-bezier);

    color: #434455;
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}

/* hero */

.hero {
    max-width: 1440px;

    margin-right: auto;
    margin-left: auto;

    padding-top: 188px;
    padding-bottom: 188px;

    background-color: var(--navy-blue-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero-title {
    max-width: 496px;

    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
    line-height: 1.07;

    color: var(--primary-color);
}

.hero-btn {
    display: block;

    min-width: 169px;

    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;

    transition: background-color var(--transition-time) var(--cubic-bezier);

    border: 0;
    border-radius: 4px;


    background-color: #4D5AE5;
    color: var(--primary-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-color);
}

/* benefits */
.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-list {
    display: flex;
    gap: var(--primary-gap);
}

.benefits-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.benefits-title {
    text-align: center;
    text-transform: capitalize;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;

    color: var(--navy-blue-color);
}

.benefits-subtitle {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;

    color: var(--navy-blue-color);
}

.benefits-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

.benefits-box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 112px;

    margin-bottom: 8px;

    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
}

/* team */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-list {
    display: flex;
    gap: var(--primary-gap);
}

.team-item {
    flex-basis: calc((100% - 24px * 3) / 4);

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

    background-color: var(--primary-color);
}

.team-item-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-title {
    margin-bottom: 72px;

    text-align: center;
    text-transform: capitalize;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;

    color: var(--navy-blue-color);
}


.team-subtitle {
    margin-bottom: 8px;

    text-align: center;
    text-transform: capitalize;

    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;

    color: var(--navy-blue-color);
}

.team-text {
    text-align: center;

    margin-bottom: 8px;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

.team-social-list {
    display: flex;
    justify-content: center;
    gap: var(--primary-gap);
}



.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    border-radius: 50%;

    transition: background-color var(--transition-time) var(--cubic-bezier);
    background-color: #4D5AE5;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color);
}

.team-social-icon {
    fill: #f4f4fd;
}

/* portfolio */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    margin-bottom: 72px;

    text-align: center;
    text-transform: capitalize;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    line-height: 1.11;

    color: var(--navy-blue-color);
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--primary-gap);
    row-gap: 48px;
}

.portfolio-item {
    flex-basis: calc((100% - 24px * 2) / 3);

    transition: box-shadow var(--transition-time) var(--cubic-bezier);
}

.portfolio-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-box {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;

    transform: translateY(100%);

    transition: transform var(--transition-time) var(--cubic-bezier);

    background-color: #4D5AE5;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 40px 32px;

    transform: translateY(100%);

    transition: transform var(--transition-time) var(--cubic-bezier);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;

    background-color: #4D5AE5;
    color: #F4F4FD;
}

.portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

.portfolio-item-container {
    padding: 32px 16px;

    border-right: 1px solid #E7E9FC;
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
}

.portfolio-subtitle {
    margin-bottom: 8px;

    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 1.2;

    color: var(--navy-blue-color);
}

.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

/* footer */

.footer {
    background-color: var(--navy-blue-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-logo {
    margin-bottom: 16px;

}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-text {
    width: 264px;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 1.5;

    color: #F4F4FD;
}

/* footer social */


.footer-social-title {
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;

    color: var(--primary-color);
}

.footer-social-list {
    display: flex;
    gap: 16px;
}


.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    transition: background-color var(--transition-time) var(--cubic-bezier);

    border-radius: 50%;
    background-color: #4D5AE5;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #31D0AA;
}

.footer-social-icon {
    fill: #f4f4fd;
}

/* footer form */

.footer-form-title {
    margin-bottom: 16px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;

    color: var(--primary-color);
}

.footer-form {
    display: flex;
    gap: var(--primary-gap);
}

.footer-form-input {
    padding-left: 16px;

    width: 264px;
    height: 40px;

    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: border-color var(--transition-time) var(--cubic-bezier);

    border-radius: 4px;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    background-color: transparent;
    color: var(--primary-color);
}

.footer-form-input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.48px;

    color: var(--primary-color);
}

.footer-form-input:focus {
    border-color: #4D5AE5;
}

.footer-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 165px;
    height: 40px;

    padding: 8px 24px;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;

    transition: background-color var(--transition-time) var(--cubic-bezier);

    border-radius: 4px;
    border: none;

    background-color: #4D5AE5;
    color: var(--primary-color);
    fill: var(--primary-color);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: var(--accent-color);
}

.footer-form-icon {
    margin-left: 16px;
}

/* modal */

.backface {
    position: fixed;
    left: 0;
    top: 0;

    display: none;

    padding-top: 80px;

    width: 100vw;
    height: 100vh;

    background-color: rgba(46, 47, 66, 0.40);
}

.is-open {
    display: block;
}


.modal {
    max-width: 408px;

    margin-right: auto;
    margin-left: auto;


    padding: var(--primary-gap);

    border-radius: 4px;
    background-color: #FCFCFC;
}

.modal-close-btn {
    display: block;
    margin-left: auto;

    margin-bottom: var(--primary-gap);
    padding: 8px;

    transition: fill var(--transition-time) var(--cubic-bezier), background-color var(--transition-time) var(--cubic-bezier);

    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background-color: #E7E9FC;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--primary-color);
    background-color: #404BBF;
}

.modal-close-icon {
    display: block;
}

.modal-title {
    margin-bottom: 16px;

    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.modal-lable {
    margin-bottom: 4px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;

    color: #8E8F99;
}

.modal-input-box {
    position: relative;

    margin-bottom: 8px;
}

.modal-input {
    width: 100%;
    height: 40px;


    padding: 8px 38px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;

    transition: border-color var(--transition-time) var(--cubic-bezier);

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
}

.modal-input:focus {
    border-color: #4D5AE5;

}

.modal-input-icon {
    position: absolute;
    left: 16px;
    top: 50%;

    transform: translateY(-50%);

    transition: fill var(--transition-time) var(--cubic-bezier);

}

.modal-input:focus+.modal-input-icon {
    fill: #4D5AE5;
}

.modal-textarea {
    width: 100%;
    height: 120px;

    margin-bottom: 16px;
    padding: 8px 16px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;

    transition: border-color var(--transition-time) var(--cubic-bezier);

    resize: none;

    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);

}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;

    color: rgba(46, 47, 66, 0.40);
}

.modal-policy-box {
    display: flex;
    align-items: baseline;
    gap: 8px;

    margin-bottom: var(--primary-gap);
}

.modal-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;

    transition: border-color var(--transition-time) var(--cubic-bezier), background-color var(--transition-time) var(--cubic-bezier);

    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
}

.true-modal-checkbox:checked+.modal-checkbox {
    background-color: #404BBF;
    border-color: #404BBF;
}

.modal-checkbox-icon {
    fill: var(--primary-color);
}

.modal-policy-lable {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;
}

.modal-link {
    line-height: 1.33;

    text-decoration: underline;

    color: #4D5AE5;
}

.modal-submit-btn {
    display: block;

    width: 170px;

    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;

    text-align: center;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;

    transition: background-color var(--transition-time) var(--cubic-bezier);

    border: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    background-color: #4D5AE5;
    color: var(--primary-color);
}

.modal-submit-btn:hover {
    background-color: #404BBF;
}